$zIndexObject = {
  progressBar: 5,
  tabs: 10,
  cookiesPolicy: 70,
  memberYet: 70,
  backTop: 75,
  navigation: 80,
  headerBar: 85,
  appBar: 85,
  menuWrapper: 90,
  bookingResult: 95,
  loadingMask: 100,
  dialog: 100,
  masking: 105,
  movingbox: 110,
  splash: 200
}