// If you have to use other language but English,
// you need setting document text format to utf-8.
// http://blog.shg25.com/?p=97
// @import '~stylus_style/styles/app.styl'
@charset 'utf-8'
@import url('//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i')
@import url('//fonts.googleapis.com/earlyaccess/notosanstc.css')
@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro')
@import '_base.styl'
@import '_reboot.styl'
// @import '_fonts.styl'
@import '_transition.styl'

:root
  --primary #1976D2
  --secondary #424242
  --accent #82B1FF
  --error #FF5252
  --info #2196F3
  --success #4CAF50
  --warning #FFC107